page-login {
  .socialLogin button{
    float: left;
    margin: 10% 5% 0% 0%;
  }
  .facebook{
    background-color: #3b5998;;
  }
  .google{
    background-color: #d13d35;
  }
  .github{
    background-color: #000000;
  }
  .twitter{
    background-color: #728fdb;
  }
}
