page-home {
	.header-main {
		background-color: $black !important;
	}
	.toolbar-ios {
		ion-title {
			display: inline-block;
			float: left;
			width: auto;
		}
	}
	.header-btn{
		margin-left: -35px !important;
		margin-top: -15px !important;
		color: #ffffff !important;
	}
	.color-txt{
		color: #ffffff !important;
	}
}
